In [1]:
# Import Library
import pandas as pd
import nltk

In [2]:
df = pd.read_csv("data_clean.csv")
df.head()

   Unnamed: 0                                              Tweet  HS  Abusive
0           0  cowok usaha lacak perhati gue lantas remeh per...   1        1
1           1  rt guna guna telat tau edan sarap gue gaul cig...   0        1
2           2  41 kadang pikir percaya tuhan jatuh kali kali ...   0        0
3           3                        guna guna ku tau mata sipit   0        0
4           4      guna guna kaum cebong kafir dongok dungu haha   1        1

In [3]:
# Menghilangkan URL pada dataset dengan kolom 'text'
df['Tweet'] = df['Tweet'].str.replace('http\S+|www.\S+', '', case=False)
df.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: The default value of regex will change from True to False in a future version.

   Unnamed: 0                                              Tweet  HS  Abusive
0           0  cowok usaha lacak perhati gue lantas remeh per...   1        1
1           1  rt guna guna telat tau edan sarap gue gaul cig...   0        1
2           2  41 kadang pikir percaya tuhan jatuh kali kali ...   0        0
3           3                        guna guna ku tau mata sipit   0        0
4           4      guna guna kaum cebong kafir dongok dungu haha   1        1

In [4]:
# Menghilangkan kata yang diawali oleh simbol @ pada kolom 'text'
df['Tweet'] = df['Tweet'].str.replace('@[^\s]+','', case=False)
df.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: The default value of regex will change from True to False in a future version.

   Unnamed: 0                                              Tweet  HS  Abusive
0           0  cowok usaha lacak perhati gue lantas remeh per...   1        1
1           1  rt guna guna telat tau edan sarap gue gaul cig...   0        1
2           2  41 kadang pikir percaya tuhan jatuh kali kali ...   0        0
3           3                        guna guna ku tau mata sipit   0        0
4           4      guna guna kaum cebong kafir dongok dungu haha   1        1

In [5]:
#menghapus karakter selain huruf 
df['Tweet'] = df['Tweet'].str.replace('[^\w\s]','')
df.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: The default value of regex will change from True to False in a future version.

   Unnamed: 0                                              Tweet  HS  Abusive
0           0  cowok usaha lacak perhati gue lantas remeh per...   1        1
1           1  rt guna guna telat tau edan sarap gue gaul cig...   0        1
2           2  41 kadang pikir percaya tuhan jatuh kali kali ...   0        0
3           3                        guna guna ku tau mata sipit   0        0
4           4      guna guna kaum cebong kafir dongok dungu haha   1        1

In [6]:
import re
def remove_number(text):
    return re.sub("[^a-zA-Z]", " ",str(text))


df['Tweet'] = df['Tweet'].apply(remove_number)
df

,Unnamed: 0,Tweet,HS,Abusive
0,0,cowok usaha lacak perhati gue lantas remeh per...,1,1
1,1,rt guna guna telat tau edan sarap gue gaul cig...,0,1
2,2,kadang pikir percaya tuhan jatuh kali kali ...,0,0
3,3,guna guna ku tau mata sipit,0,0
4,4,guna guna kaum cebong kafir dongok dungu haha,1,1
...,...,...,...,...
13164,13164,guna bicara ndasmu congor sekata anjing,1,1
13165,13165,guna kasur enak kunyuk,0,1
13166,13166,guna hati hati bisu bosan duh x,0,0
13167,13167,guna guna guna guna bom real mudah deteksi bom...,0,0
13168,13168,guna situ foto ya kutil onta,1,1

In [7]:
#case folding berupa lower case
df['Tweet'] = df['Tweet'].apply(lambda x: " ".join(x.lower() for x in x.split()))

In [10]:
# normalization
import re
import string
import csv

reader = csv.reader(open('normalisasi.csv', 'r'))
d = {}
for row in reader:
    k,v= row
    d[k] = v
    #print d[k]
pat = re.compile(r"\b(%s)\b" % "|".join(d))
for i in range(len(df)):
    text = df['Tweet'].iloc[i]
    text = pat.sub(lambda m: d.get(m.group()), text)
    #print text
    df['Tweet'].iloc[i]=text

df.head(10)

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

   Unnamed: 0                                              Tweet  HS  Abusive
0           0  cowok usaha lacak perhati saya lantas remeh pe...   1        1
1           1  rt berguna berguna telat tahu edan sarap saya ...   0        1
2           2  kadang pikir percaya tuhan jatuh kali kali kad...   0        0
3           3               berguna berguna saya tahu mata sipit   0        0
4           4  berguna berguna kaum cebong kafir dungu dungu ...   1        1
5           5  berguna ya bani taplak kawan kawan sangat sang...   1        1
6           6  deklarasi pilih kepala daerah aman anti hoaks ...   0        0
7           7  saya selesai re watch aldnoah zero kampret kar...   0        1
8           8  admin belanja port baik nak makan ais kepal mi...   0        0
9           9                                 berguna enak ngewe   0        1

In [11]:
# Import Library
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [12]:
# Menguji fungsi Tokenize
example_text = df.iloc[0]
print(nltk.word_tokenize(example_text['Tweet']))

['cowok', 'usaha', 'lacak', 'perhati', 'saya', 'lantas', 'remeh', 'perhati', 'saya', 'kasih', 'khusus', 'basic', 'cowok', 'bego']

In [13]:
# Menerapkan fungsi Tokenize pada Dataset
def identify_tokens(row):
    text = row
    tokens = nltk.word_tokenize(text)
    # taken only words (not punctuation)
    token_words = [w for w in tokens if w.isalpha()]
    return token_words

df['token'] = df['Tweet'].apply(identify_tokens)
df['token'].head(5)

0    [cowok, usaha, lacak, perhati, saya, lantas, r...
1    [rt, berguna, berguna, telat, tahu, edan, sara...
2    [kadang, pikir, percaya, tuhan, jatuh, kali, k...
3          [berguna, berguna, saya, tahu, mata, sipit]
4    [berguna, berguna, kaum, cebong, kafir, dungu,...
Name: token, dtype: object

In [14]:
# Import Library
! pip install sastrawi
import re
from Sastrawi.Stemmer.StemmerFactory import StemmerFactory
from nltk.tokenize.treebank import TreebankWordDetokenizer
from Sastrawi.StopWordRemover.StopWordRemoverFactory import StopWordRemoverFactory
# Menerapkan stopwords bahasa Indonesia
# stops = set(nltk.corpus.stopwords.words('indonesian'))
stop_factory = StopWordRemoverFactory()
data_stopword = stop_factory.get_stop_words()
stopword = stop_factory.create_stop_word_remover()
print(data_stopword)

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting sastrawi
  Downloading Sastrawi-1.0.1-py2.py3-none-any.whl (209 kB)
     |████████████████████████████████| 209 kB 5.2 MB/s
Installing collected packages: sastrawi
Successfully installed sastrawi-1.0.1
['yang', 'untuk', 'pada', 'ke', 'para', 'namun', 'menurut', 'antara', 'dia', 'dua', 'ia', 'seperti', 'jika', 'jika', 'sehingga', 'kembali', 'dan', 'tidak', 'ini', 'karena', 'kepada', 'oleh', 'saat', 'harus', 'sementara', 'setelah', 'belum', 'kami', 'sekitar', 'bagi', 'serta', 'di', 'dari', 'telah', 'sebagai', 'masih', 'hal', 'ketika', 'adalah', 'itu', 'dalam', 'bisa', 'bahwa', 'atau', 'hanya', 'kita', 'dengan', 'akan', 'juga', 'ada', 'mereka', 'sudah', 'saya', 'terhadap', 'secara', 'agar', 'lain', 'anda', 'begitu', 'mengapa', 'kenapa', 'yaitu', 'yakni', 'daripada', 'itulah', 'lagi', 'maka', 'tentang', 'demi', 'dimana', 'kemana', 'pula', 'sambil', 'sebelum', 'sesudah', 'supaya', 'guna', 'kah', 'pun', 'sampai', 'sedangkan', 'selagi', 'sementara', 'tetapi', 'apakah', 'kecuali', 'sebab', 'selain', 'seolah', 'seraya', 'seterusnya', 'tanpa', 'agak', 'boleh', 'dapat', 'dsb', 'dst', 'dll', 'dahulu', 'dulunya', 'anu', 'demikian', 'tapi', 'ingin', 'juga', 'nggak', 'mari', 'nanti', 'melainkan', 'oh', 'ok', 'seharusnya', 'sebetulnya', 'setiap', 'setidaknya', 'sesuatu', 'pasti', 'saja', 'toh', 'ya', 'walau', 'tolong', 'tentu', 'amat', 'apalagi', 'bagaimanapun']

In [15]:
# Menerapkan fungsi Stopword pada Dataset, dan membuat kolom stopwords
def stop_list(row):
    my_list = row
    stop_list = [stopword.remove(i) for i in my_list]
    return (stop_list)

In [16]:
df['stop_words'] = df['token'].apply(stop_list)
df['stop_words'].head(5)

0    [cowok, usaha, lacak, perhati, , lantas, remeh...
1    [rt, berguna, berguna, telat, tahu, edan, sara...
2    [kadang, pikir, percaya, tuhan, jatuh, kali, k...
3              [berguna, berguna, , tahu, mata, sipit]
4    [berguna, berguna, kaum, cebong, kafir, dungu,...
Name: stop_words, dtype: object

In [17]:
# Menguji fungsi StemmerFactory
stemming = StemmerFactory().create_stemmer()
my_list = ['memenuhi', 'barangnya', 'dibuka']
print ([stemming.stem(i) for i in my_list])

['penuh', 'barang', 'buka']

In [18]:
# Menerapkan fungsi StemmerFactory pada Dataset, dan membuat kolom stemmed_words
def stem_list(row):
    my_list = row
    stemmed_list = [stemming.stem(i) for i in my_list]
    return (stemmed_list)

df['stemmed_words'] = df['stop_words'].apply(stem_list)
df.head(5)

,Unnamed: 0,Tweet,HS,Abusive,token,stop_words,stemmed_words
0,0,cowok usaha lacak perhati saya lantas remeh pe...,1,1,"[cowok, usaha, lacak, perhati, saya, lantas, r...","[cowok, usaha, lacak, perhati, , lantas, remeh...","[cowok, usaha, lacak, perhati, , lantas, remeh..."
1,1,rt berguna berguna telat tahu edan sarap saya ...,0,1,"[rt, berguna, berguna, telat, tahu, edan, sara...","[rt, berguna, berguna, telat, tahu, edan, sara...","[rt, guna, guna, telat, tahu, edan, sarap, , g..."
2,2,kadang pikir percaya tuhan jatuh kali kali kad...,0,0,"[kadang, pikir, percaya, tuhan, jatuh, kali, k...","[kadang, pikir, percaya, tuhan, jatuh, kali, k...","[kadang, pikir, percaya, tuhan, jatuh, kali, k..."
3,3,berguna berguna saya tahu mata sipit,0,0,"[berguna, berguna, saya, tahu, mata, sipit]","[berguna, berguna, , tahu, mata, sipit]","[guna, guna, , tahu, mata, sipit]"
4,4,berguna berguna kaum cebong kafir dungu dungu ...,1,1,"[berguna, berguna, kaum, cebong, kafir, dungu,...","[berguna, berguna, kaum, cebong, kafir, dungu,...","[guna, guna, kaum, cebong, kafir, dungu, dungu..."

In [19]:
# Joining Text
df['Text'] = df['stemmed_words'].str.join(" ")
df.head(10)

,Unnamed: 0,Tweet,HS,Abusive,token,stop_words,stemmed_words,Text
0,0,cowok usaha lacak perhati saya lantas remeh pe...,1,1,"[cowok, usaha, lacak, perhati, saya, lantas, r...","[cowok, usaha, lacak, perhati, , lantas, remeh...","[cowok, usaha, lacak, perhati, , lantas, remeh...",cowok usaha lacak perhati lantas remeh perhat...
1,1,rt berguna berguna telat tahu edan sarap saya ...,0,1,"[rt, berguna, berguna, telat, tahu, edan, sara...","[rt, berguna, berguna, telat, tahu, edan, sara...","[rt, guna, guna, telat, tahu, edan, sarap, , g...",rt guna guna telat tahu edan sarap gaul cigax...
2,2,kadang pikir percaya tuhan jatuh kali kali kad...,0,0,"[kadang, pikir, percaya, tuhan, jatuh, kali, k...","[kadang, pikir, percaya, tuhan, jatuh, kali, k...","[kadang, pikir, percaya, tuhan, jatuh, kali, k...",kadang pikir percaya tuhan jatuh kali kali kad...
3,3,berguna berguna saya tahu mata sipit,0,0,"[berguna, berguna, saya, tahu, mata, sipit]","[berguna, berguna, , tahu, mata, sipit]","[guna, guna, , tahu, mata, sipit]",guna guna tahu mata sipit
4,4,berguna berguna kaum cebong kafir dungu dungu ...,1,1,"[berguna, berguna, kaum, cebong, kafir, dungu,...","[berguna, berguna, kaum, cebong, kafir, dungu,...","[guna, guna, kaum, cebong, kafir, dungu, dungu...",guna guna kaum cebong kafir dungu dungu haha
5,5,berguna ya bani taplak kawan kawan sangat sang...,1,1,"[berguna, ya, bani, taplak, kawan, kawan, sang...","[berguna, , bani, taplak, kawan, kawan, sangat...","[guna, , bani, taplak, kawan, kawan, sangat, s...",guna bani taplak kawan kawan sangat sangat sa...
6,6,deklarasi pilih kepala daerah aman anti hoaks ...,0,0,"[deklarasi, pilih, kepala, daerah, aman, anti,...","[deklarasi, pilih, kepala, daerah, aman, anti,...","[deklarasi, pilih, kepala, daerah, aman, anti,...",deklarasi pilih kepala daerah aman anti hoaks ...
7,7,saya selesai re watch aldnoah zero kampret kar...,0,1,"[saya, selesai, re, watch, aldnoah, zero, kamp...","[, selesai, re, watch, aldnoah, zero, kampret,...","[, selesai, re, watch, aldnoah, zero, kampret,...",selesai re watch aldnoah zero kampret karakte...
8,8,admin belanja port baik nak makan ais kepal mi...,0,0,"[admin, belanja, port, baik, nak, makan, ais, ...","[admin, belanja, port, baik, nak, makan, ais, ...","[admin, belanja, port, baik, nak, makan, ais, ...",admin belanja port baik nak makan ais kepal mi...
9,9,berguna enak ngewe,0,1,"[berguna, enak, ngewe]","[berguna, enak, ngewe]","[guna, enak, ngewe]",guna enak ngewe

In [20]:
#melakukan ekstraksi fitur menggunakan tf-idf 
from sklearn.feature_extraction.text import TfidfVectorizer 
vectorizer= TfidfVectorizer()
X = vectorizer.fit_transform(df['Text'])
y=df['HS']

In [21]:
#melakukan pembagian data training dan data testing yang mana data training 80% dqan data testing 20%
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.20,random_state=109)
print("Train: ",X_train.shape,y_train.shape,"Test: ",(X_test.shape,y_test.shape))

Train:  (10535, 11444) (10535,) Test:  ((2634, 11444), (2634,))

In [24]:
#pembuatan model menggunakan metode SVM
from sklearn.svm import LinearSVC
svm = LinearSVC(random_state=0)
svm.fit(X_train,y_train)
y_pred=svm.predict(X_test)

In [25]:
from sklearn.metrics import classification_report, confusion_matrix  
print("Confusion Matrix SVM")
print(confusion_matrix(y_test,y_pred))  
print(classification_report(y_test,y_pred)) 
from sklearn.metrics import accuracy_score
acu_svm=accuracy_score(y_test,y_pred)
print('AKURASI SVM: %.3f' % acu_svm)

Confusion Matrix SVM
[[1297  207]
 [ 283  847]]
              precision    recall  f1-score   support

           0       0.82      0.86      0.84      1504
           1       0.80      0.75      0.78      1130

    accuracy                           0.81      2634
   macro avg       0.81      0.81      0.81      2634
weighted avg       0.81      0.81      0.81      2634

AKURASI SVM: 0.814

In [26]:
import pickle
pickle.dump(svm, open('svm.pkl', 'wb'))

In [32]:
from sklearn import tree
tree = tree.DecisionTreeClassifier()
tree.fit(X_train,y_train)
y_pred=tree.predict(X_test)
print("Confusion Matrix Tree")
print(confusion_matrix(y_test,y_pred))  
print(classification_report(y_test,y_pred)) 
from sklearn.metrics import accuracy_score
acu=accuracy_score(y_test,y_pred)
print('AKURASI Tree: %.3f' % acu)

Confusion Matrix Tree
[[1211  293]
 [ 287  843]]
              precision    recall  f1-score   support

           0       0.81      0.81      0.81      1504
           1       0.74      0.75      0.74      1130

    accuracy                           0.78      2634
   macro avg       0.78      0.78      0.78      2634
weighted avg       0.78      0.78      0.78      2634

AKURASI Tree: 0.780

In [40]:
X=X.toarray()
#melakukan pembagian data training dan data testing yang mana data training 80% dqan data testing 20%
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.20,random_state=109)
print("Train: ",X_train.shape,y_train.shape,"Test: ",(X_test.shape,y_test.shape))
from sklearn.naive_bayes import GaussianNB
nb = GaussianNB()
nb.fit(X_train,y_train)
y_pred=nb.predict(X_test)
nb.fit(X_train,y_train)
y_pred=nb.predict(X_test)
print("Confusion Matrix nb")
print(confusion_matrix(y_test,y_pred))  
print(classification_report(y_test,y_pred)) 
from sklearn.metrics import accuracy_score
acu=accuracy_score(y_test,y_pred)
print('AKURASI nb: %.3f' % acu)

Train:  (10535, 11444) (10535,) Test:  ((2634, 11444), (2634,))
Confusion Matrix nb
[[678 826]
 [194 936]]
              precision    recall  f1-score   support

           0       0.78      0.45      0.57      1504
           1       0.53      0.83      0.65      1130

    accuracy                           0.61      2634
   macro avg       0.65      0.64      0.61      2634
weighted avg       0.67      0.61      0.60      2634

AKURASI nb: 0.613

In [41]:
pickle.dump(nb, open('nb.pkl', 'wb'))